@font-face {
	font-family: "Mandali";
	src: url("./fonts/Mandali-Regular.ttf");
}
@font-face {
	font-family: "Cerebri-ExtraBold";
	src: url("./fonts/Cerebri.Sans.Pro/CerebriSansPro-ExtraBold.ttf");
}
@font-face {
	font-family: "Cerebri-Bold";
	src: url("./fonts/Cerebri.Sans.Pro/CerebriSansPro-Bold.ttf");
}

body {
	font-family: "Mandali", sans-serif;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

nav .container {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

nav .container .right a {
	color: #434242;
	/* Alternatyva tarpo sudarymui tarp navigacijos linku */
	/* margin-right: 40px; */
	text-decoration: none;
	transition: all;
	transition-duration: 400ms;
}
nav .container .right {
	display: flex;
	gap: 40px;
}

nav {
	box-shadow: 1px 5px 10px gainsboro;
}

nav .container .right a:hover {
	color: #1fe1ad;
}

#hero {
	background-image: url("./images/hero-bg.png");
	background-size: cover;
	min-height: 800px;
	padding: 200px 0 0 0;
}
#hero .container {
	display: flex;
	flex-direction: column;
}
#hero .container .hero-main {
	display: flex;
	justify-content: space-between;
	margin-bottom: 150px;
}

#hero .container .hero-main .left,
#hero .container .hero-main .right {
	width: 50%;
}

#hero .container .hero-main .right img {
	width: 100%;
}

#hero .container .hero-main .left {
	display: flex;
	flex-direction: column;
}

#hero .container .hero-main .left .discount {
	background-color: #f8f8f8;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	width: 35%;
	padding: 0 20px;
	color: #434242;
	font-weight: 500;
	margin-bottom: 20px;
}

.discount span {
	color: #1fe1ad;
}

#hero .container .hero-main .left h1 {
	font-size: 68px;
	font-family: "Cerebri-ExtraBold", sans-serif;
	color: #434242;
	margin-bottom: 20px;
}

#hero .container .hero-main .left .paragraph-text {
	color: #434242;
	margin-bottom: 20px;
}

.more-about {
	background: rgb(29, 225, 172);
	background: linear-gradient(
		143deg,
		rgb(12, 126, 255) 0%,
		rgb(255, 53, 107) 100%
	);
	color: white;
	border: 0;
	padding: 10px 20px;
	border-radius: 100px;
	cursor: pointer;
}

.see-live {
	color: #434242;
	border: 0;
	background: none;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.hero-footer {
	display: flex;
	gap: 90px;
}

.hero-footer img {
	width: 13%;
}

.more-about i {
	margin-left: 10px;
}

.see-live i {
	font-size: 27px;
	margin-left: 10px;
}

#hero .button-group {
	display: flex;
	gap: 20px;
}

#what-we-do {
	background-color: #f8f9fa;
	padding: 100px 0;
}
#what-we-do .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#what-we-do .columns {
	display: flex;
	gap: 40px;
	/* justify-content: space-between; */
}
#what-we-do .title {
	color: #848484;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#what-we-do h1 {
	font-family: "Cerebri-Bold", sans-serif;
	font-size: 36px;
	width: 60%;
	text-align: center;
	line-height: 38px;
	color: #333333;
	margin-bottom: 60px;
}

/* #what-we-do .columns .column {
	width: 27%;
} */
#what-we-do .column h3 {
	color: #333333;
}

#what-we-do .column p {
	color: #848484;
}

#what-we-do .column a {
	text-decoration: none;
	color: orangered;
}

footer {
	/* Veliau nuimti */
	border-top: 2px solid black;
	background-color: #f8f9fa;
	padding: 200px 0 100px 0;
	background-image: url(./images/footer-light-bg.png);
	background-repeat: no-repeat;
	background-position: center;
}

footer .requisites {
	display: flex;
	flex-direction: column;
	width: 20%;
}

footer .requisites img {
	margin-bottom: 20px;
	width: 60%;
}

footer .requisites a,
footer .requisites p {
	line-height: 22px;
}

footer .links {
	width: 70%;
	display: flex;
	justify-content: space-between;
}

footer .container {
	display: flex;
	justify-content: space-between;
}

footer .links .column {
	width: 15%;
	display: flex;
	flex-direction: column;
}

footer .column h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

footer .column a {
	text-decoration: none;
	color: #848484;
}

#our-projects {
	padding: 100px 0;
}
